<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="vm"></clr-icon>
                <span class="title">CMBU TMM Demo App</span>
            </a>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <div style="text-align:center">
                <h1>
                    Welcome to the 2018 Cloud Management Bootcamp!
                </h1>
                <div class="hiddenicons">
                    <div class=row>
                    <img class="logo" width="50" alt="vRA Logo" src="../assets/ca.svg">
                    <img class="logo" width="50" alt="vRA Logo" src="../assets/sb.svg">
                    <img class="logo" width="50" alt="vRA Logo" src="../assets/cs.svg">
                    </div>
                </div>
            </div>
            <form #f="ngForm" class="clr-form clr-form-horizontal" (ngSubmit)="onSubmit(f.value)">
                <div class="clr-form-control">
                    <label for="example" class="clr-control-label">Title</label>
                    <div class="clr-control-container">
                        <div class="clr-input-wrapper">
                            <input type="text" [(ngModel)]="message.title" name="title" id="title" placeholder="Enter the Message Title"
                                class="clr-text" required>
                            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                        </div>
                    </div>
                </div>
                <div class="clr-form-control">
                    <label for="example" class="clr-control-label">Message</label>
                    <div class="clr-control-container">
                        <div class="clr-input-wrapper">
                            <input type="textfield" [(ngModel)]="message.text" name="text" id="text" placeholder="Message Text"
                                class="clr-textarea" required>
                            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <button onclick="createGame()" class="btn btn-primary">Create Game</button>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
            <script type="text/javascript" charset="utf-8">
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            // verify our websocket connection is established
            socket.on('connect', function() {
                console.log('Websocket connected!');
            });
            // message handler for the 'join_room' channel
            socket.on('join_room', function(msg) {
                console.log(msg);
            });
            // createGame onclick - emit a message on the 'create' channel to 
            // create a new game with default parameters
            function createGame() {
                console.log('Creating game...');
                socket.emit('create', {size: 'normal', teams: 2, dictionary: 'Simple'});
            }
            </script>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" *ngFor="let text of messages">
                    <div class="card">
                        <div class="card-header">
                            {{text.title}}
                        </div>
                        <div class="card-block">
                            <div class="card-text">
                                {{text.text}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="sidenav">
            <section class="sidenav-content">
                <img class="logo" width="100" alt="vRA Logo" src="../assets/ca.svg">
                <img class="logo" width="100" alt="vRA Logo" src="../assets/sb.svg">
                <img class="logo" width="100" alt="vRA Logo" src="../assets/cs.svg">
            </section>
        </nav>
    </div>
</div>
