  <div>
      <div class="clr-row">
          <div>
              <div class="card">
                  <div class="card-header">
                      Cloud Automation Services API Query
                  </div>
                  <div class="card-block">
                      <div class="card-text">
                          This component leverages the unofficial Python SDK For Cloud Automation Services (caspyr) to interact
                          with the Cloud Automation Services API and return details about a Cloud Automation Services org. A user can enter their
                          CSP Refresh Token, and the Angular driven frontend will query the API backend, resolving the data in an ng2-chart! 
                          <br>
                          <br>
                          Enter the CSP Refresh Token below to get started!
                      </div>
                  </div>
              </div>
          </div>
      </div>
    <div>
    <div>
      <form #f="ngForm" class="clr-form clr-form-horizontal" (ngSubmit)="onSubmit(f.value)">
        <div class="clr-form-control">
          <label for="example" class="clr-control-label">CSP API Token</label>
          <div class="clr-control-container">
            <div class="clr-input-wrapper">
              <input type="text" [(ngModel)]="cspapitoken" name="cspapitoken" id="cspapitoken"
                placeholder="Enter the CSP Refresh Token" class="clr-text" required>
              <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            </div>
          </div>
        </div>
        <br>
        <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Submit</button>
        <br>
      </form>
    </div>
    <div *ngIf="show">
      <div class="progress loop"><progress></progress></div>
    </div>
    <div>
      <table class="table" style="width: 75%; margin: 0 auto" *ngIf="barChartData">
        <thead>
          <tr>
            <th>Blueprints</th>
            <th>Cloud Accounts</th>
            <th>Deployments</th>
            <th>Projects</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{casdata?.bps}}</td>
            <td>{{casdata?.cloudaccounts}}</td>
            <td>{{casdata?.deployments}}</td>
            <td>{{casdata?.projects}}</td>
          </tr>
        </tbody>
      </table>
      <br>
      <div style="display: block" *ngIf="polarAreaChartData">
        <canvas class="myChart" baseChart width="400" height="150" 
                [data]="polarAreaChartData"
                [labels]="polarAreaChartLabels" 
                [legend]="polarAreaLegend" 
                [chartType]="polarAreaChartType"
                (chartHover)="chartHovered($event)" 
                (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
