<div>
    <div class="outer">
        <div class=row> 
        <img class="logo" width="15%" alt="vRA Logo" src="../assets/ca.svg">
        <img class="logo" width="15%" alt="vRA Logo" src="../assets/sb.svg">
        <img class="logo" width="15%" alt="vRA Logo" src="../assets/cs.svg">
        </div>
    </div>
    <div class="clr-row">
            <div>
                <div class="card">
                    <div class="card-header">
                        Hello Monday Enablement Call Webinar!
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            This application was branched from <a href="https://github.com/codyde/cmbu-bootcamp-app">this application</a>
                            for usage during a Monday enablement webinar. It's pretty much non-functional and should only be used for it's
                            pretty looks, not doing cool things :) 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
