<div>
    <div class="outer">
        <div class=row> 
        <img class="logo" width="15%" alt="vRA Logo" src="../assets/ca.svg">
        <img class="logo" width="15%" alt="vRA Logo" src="../assets/sb.svg">
        <img class="logo" width="15%" alt="vRA Logo" src="../assets/cs.svg">
        </div>
    </div>
    <div class="clr-row">
            <div>
                <div class="card">
                    <div class="card-header">
                        Welcome to the Forrester Wave Demo! 
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            This application was deployed using Puppet Enterprise to demonstrate Configuration Management and Application Delivery 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
