<div>
    <div class="outer">
        <div class=row> 
        <img class="logo" width="15%" alt="vRA Logo" src="../assets/ca.svg">
        <img class="logo" width="15%" alt="vRA Logo" src="../assets/sb.svg">
        <img class="logo" width="15%" alt="vRA Logo" src="../assets/cs.svg">
        </div>
    </div>
    <div class="clr-row">
            <div>
                <div class="card">
                    <div class="card-header">
                        Welcome to My Demo Application! 
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            This demo application has been a labor of love to escape Wordpress demos! It is a 3 tier application and will 
                            run on Kubernetes, Docker (via Docker-Compose) or regular 'ol IaaS (preferrably deployed with Cloud Automation Services).
                            I hope you enjoy, and fork me on Github at https://github.com/codyde/cmbu-bootcamp-application 
                            <br>
                            <br>
                            Follow me on Twitter @codydearkland
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
